[Unit]
Description=Prometheus Exporter for CyberPower UPSs
Documentation=https://github.com/kmulvey/cyberpower_exporter
After=network-online.target

[Service]
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/cyberpower_exporter -prom -prom-addr ":9300"

[Install]
WantedBy=multi-user.target
